.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding: var(--spacing-lg);
  gap: var(--spacing-lg);
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  grid-row: 2;
}

.main ol {
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: var(--spacing-xs);
}

.main code {
  background: rgba(0, 0, 0, 0.05);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: var(--spacing-sm);
}

.ctas a {
  appearance: none;
  border-radius: 9999px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
}

a.primary {
  background: var(--color-text);
  color: var(--color-bg);
  gap: var(--spacing-xs);
}

a.secondary {
  border-color: rgba(0, 0, 0, 0.1);
  min-width: 158px;
}

.footer {
  grid-row: 3;
  display: flex;
  gap: var(--spacing-md);
}

.footer a {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.footer img {
  flex-shrink: 0;
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: #383838;
  }

  a.secondary:hover {
    background: rgba(0, 0, 0, 0.05);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: var(--spacing-md);
    padding-bottom: var(--spacing-lg);
  }

  .main {
    align-items: center;
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 var(--spacing-sm);
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .main code {
    background: rgba(255, 255, 255, 0.1);
  }

  a.secondary {
    border-color: rgba(255, 255, 255, 0.1);
  }

  a.primary:hover {
    background: #ccc;
  }

  a.secondary:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  .logo {
    filter: invert(1);
  }
}
